:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #012129;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;  
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color:white;
  background-color: #012129;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
      background-color: #aebbba;
      color:white;
  }
}

#navButtons {
  /*Horizontal button layout*/
  display: flex;
  flex-direction: horizontal;
  gap: 2vw;

  /*Center the buttons*/
  place-items: center;  
  align-items: center;
  justify-content: center;

  
}
#navbar {
  /*Background*/
  background-color: #395E53;  

  /*Fix the navbar to the top*/
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  /*Center the elements*/
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;

}


.CreatorCard {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  
  background-color: #aebbba;
  

  text-align: center;

}
.card-header-name {
  display: flex;
  flex-direction: row;
  
  place-items: center;  
  align-items: center;
  justify-content: center;
  button {
    gap:.5vw;
  }

}

#CreatorCardsRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;

}

#AddEditCreatorContainer{
  display: flex;
  flex-direction: column;
  width:80vw;
  padding-top: 55vh;
  padding-bottom: 10vh;

  place-items: center;  
  align-items: center;
  justify-content: center;

  gap:2vh;

}


#CreatorCardsContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;  
  padding-top: 55vh;
  padding-bottom: 10vh;

  place-items: center;  
  align-items: center;
  justify-content: space-between;

  gap:2vh;

}
.CreatorCard {
  position: relative;
  width: 20vw;
  height: 20vw;

  word-wrap: break-word;
  white-space: pre-wrap;
}


#AddEditSubmitBtn, input,textarea {
  width:50vw;
  height: 10vh;
}

.labelDescription {
  font-weight: normal;
}

.modify-creator, #editCreatorBtns {
  display: flex;
  gap:1vw;
}

.ViewCreator {
  display: flex;
  flex-direction: row;

  width:80vw;
  padding-top: 55vh;
  padding-bottom: 10vh;

  place-items: center;  
  align-items: center;
  justify-content: center;

  gap:4vw;


}
.creator-content,.creator-info {
  display:flex;
  flex-direction: column;
  gap:2vw;
}

.creator-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;

  max-width: 20vw;
}

#viewCreatorImg {
  max-width: 100%;
  max-height: 100%;
  position:relative;

  z-index: 0;
}
